<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <!-- <div class="ion-padding">
    Mi Primera aplicación en Ionic
    <p>List Documents</p>
  </div> -->
  <ion-grid padding>
    <ion-row justify-content-center>
      <ion-col  align-self-center size-md="6" size-lg="4" size-xs="12">
         
        
        <div class="ion-text-center">
            <img width="76" src="http://asociados.lafast.org/templates/9renE/imgs/icon_gastos.jpg">
            <p id="Albaranes">Albaranes de entrega</p>
        </div>
        
      </ion-col>
      <ion-col  align-self-center size-md="6" size-lg="4" size-xs="12">
        <div class="ion-text-center">
            <img width="76"  
            src="http://asociados.lafast.org/templates/9renE/imgs/icon_informes_gastos_ingresos.jpg">
                <p id="lblTdocC">Corte de frutas</p>
        </div>
       
      </ion-col>
      <ion-col  align-self-center size-md="6" size-lg="4" size-xs="12">
          <div class="ion-text-center">
              <img width="76"  
              src="http://asociados.lafast.org/templates/9renE/imgs/icon_facturas.jpg">
                  <p id="Liquidaciones">Liquidaciones</p>
          </div>

         
      </ion-col>
      <ion-col  align-self-center size-md="6" size-lg="4" size-xs="12">
          <div class="ion-text-center">
              <img width="76"  
          src="http://asociados.lafast.org/templates/9renE/imgs/icon_facturas_tr.png">
              <p id="Factura">Factura de transporte</p>
          </div>
          
      </ion-col>  
      <ion-col  align-self-center size-md="6" size-lg="4" size-xs="12">
          <div class="ion-text-center">
              <img width="76"  
          src="http://asociados.lafast.org/templates/9renE/imgs/icon_estadisticas.png">
              <p id="Estadisticas">Estadísticas e informes</p>
          </div>
          
      </ion-col> 
      <ion-col  align-self-center size-md="6" size-lg="4" size-xs="12">
          <div class="ion-text-center">
              <img width="76"  
              src="http://asociados.lafast.org/templates/9renE/imgs/icon_justificantes.png">
          <p id="Justificante">Justificante de pago</p>
          </div>
         
      </ion-col> 
      </ion-row>
    </ion-grid>


       
        
</ion-content>


  
